@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}

ul{
      list-style: none;
}
a{
      text-decoration: none;
}
img{
      width:100%;
      height:100%;
}
.site-row,
.inner-row{
      width:90%;
      margin:auto;
}
.top-bar{
      background:#648eac;
      padding:15px 0;
}
.top-bar.hide{
      transform:translate3d(0,-100%,0);
      -webkit-transform:translate3d(0,-100%,0);
      -moz-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
      -o-transform:translate3d(0,-100%,0);
}
.top-bar .site-row{
      display:flex;
      justify-content: space-between;
}
.top-bar .left-content{
      display:flex;
}
.left-content p{
      color:#fff;
      font-family: "Poppins";
      font-size: 12px;
      margin-right:20px;
}
.left-content span{
      margin-right:5px;
      color:rgb(190, 44, 0);
}
.right-content .social-links ul{
      display:flex;
}
.social-links ul li{
      margin-right:30px;
}
.social-links ul li a{
      color:#fff;
}
header{
      display:flex;
      justify-content: space-around;
      width:100%;
      height: 150px;
      padding:10px 0;
}
header.hide{
      transform:translateY(0,-100%,0);
      -webkit-transform:translateY(0,-100%,0);
      -moz-transform:translateY(0,-100%,0);
      -ms-transform:translateY(0,-100%,0);
      -o-transform:translateY(0,-100%,0);
}
header .left-nav,
header .right-nav{
      display:flex;
      align-items: center;

}
header ul{
      display:flex;
      border-top:1px solid gainsboro;
      border-bottom:1px solid gainsboro;
      padding:15px;
}
header ul li{
      margin-right:30px;
}
header ul li a{
      font-size:15px;
      font-family: "Poppins";
      color:#111;
}
header ul li a:hover,
header ul li.current a{
      color:#648eac;
}
header ul li a::after{
      content:"";
      height:2px;
      background:#648eac;
      width:0;
      display:block;
}
header ul li:hover a::after{
      width:100%;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
}
.secondary-header{
      width:100%;
      height:90px;
      position:fixed;
      top:0;
      z-index: 99;
      background:white;
      box-shadow: 0px 1px 3px -1px gainsboro;
      transform:translate3d(0,-100%,0);
      -webkit-transform:translate3d(0,-100%,0);
      -moz-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
      -o-transform:translate3d(0,-100%,0);
}
.secondary-header.show{
      transform:translate3d(0,0,0);
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0);
      transition:transform 1s ease;
      -webkit-transition:transform 1s ease;
      -moz-transition:transform 1s ease;
      -ms-transition:transform 1s ease;
      -o-transition:transform 1s ease;
}
.secondary-header .inner-row{
      width:90%;
      margin:auto;
      display:flex;
      justify-content: space-between;
}
.secondary-header .logo{
      width:70px;
      height:90px;
      margin-left:5%;
      display:flex;
      align-items: center;
}
.logo-inner{
      height:80px;
}
.secondary-header nav{
      width:600px;
}
.secondary-header nav ul{
      display: flex;
      height:90px;
      align-items: center;
}
.secondary-header ul li{
      margin-right:30px;
}
.secondary-header ul li a{
      font-size:15px;
      font-family: "Poppins";
      color:#111;
}
.secondary-header ul li a:hover,
.secondary-header ul li.current a{
      color:#648eac;
}
.secondary-header ul li::after{
      content:"";
      height:2px;
      background:#648eac;
      width:0;
      display:block;
}
.secondary-header ul li:hover::after{
      width:100%;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
}
.main-nav li.current::after{
      width:100%;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease
}
.navTrigger{
      cursor: pointer;
      width:30px;
      height:25px;
      margin:auto;
      position:absolute;
      right:20px;
      top:30px;
      display: none;
}
.navTrigger i{
      background:#111;
      width:100%;
      content: "";
      display:block;
      height:4px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
}
.navTrigger i:nth-child(1){
      animation:outTp 0.8s backwards;
      -webkit-animation:outTp 0.8s backwards;
      animation-direction: reverse;
}
.navTrigger i:nth-child(2){
      margin:5px 0;
      animation:outMd 0.8s backwards;
      -webkit-animation:outMd 0.8s backwards;
      animation-direction: reverse;
}
.navTrigger i:nth-child(3){
      animation:outBtm 0.8s backwards;
      -webkit-animation:outBtm 0.8s backwards;
      animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
      -webkit-animation: inTp 0.8s forwards;
      animation: inTp 0.8s forwards;
}
  
.navTrigger.active i:nth-child(2) {
      -webkit-animation: inMd 0.8s forwards;
      animation: inMd 0.8s forwards;
}
  
.navTrigger.active i:nth-child(3) {
      -webkit-animation: inBtm 0.8s forwards;
      animation: inBtm 0.8s forwards;
  }
/*Keyframes*/
  @keyframes inMd {
      50% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(45deg);
      }
  }
  
  @keyframes outMd {
      50% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(45deg);
      }
  }
  
  @keyframes inTp {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(9px) rotate(0deg);
      }
      100% {
          transform: translateY(9px) rotate(135deg);
      }
  }
  
  @keyframes outTp {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(9px) rotate(0deg);
      }
      100% {
          transform: translateY(9px) rotate(135deg);
      }
  }

  
  @keyframes inBtm {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(-9px) rotate(0deg);
      }
      100% {
          transform: translateY(-9px) rotate(135deg);
      }
  }
  
  @keyframes outBtm {
      0% {
          transform: translateY(0px) rotate(0deg);
      }
      50% {
          transform: translateY(-9px) rotate(0deg);
      }
      100% {
          transform: translateY(-9px) rotate(135deg);
      }
  }

@media(max-width:850px){
      .navTrigger{
            display:block;
      }
      .secondary-header .inner-row{
            display:block;
            width:100%;
      }
      .secondary-header nav{
            width:100%;
            background-color: rgb(248, 248, 248);
            display: none;
}
     .secondary-header nav.show{
           width:100%;
           height:auto;
           display: block;
}
      .secondary-header nav ul {
            height: auto;
            display:block;
      }
      .secondary-header nav ul li{
            line-height: 40px;
            padding:0 5%;
      }
}


#landing{
      height:90vh;
}
.slide-container{
      height: 100%;
}
.landing-slide{
      height:inherit;
      background:linear-gradient(to bottom, rgba(0, 0, 0, 0.219),rgba(0,0,0,0.5)),url("../images/landing5.jpg") no-repeat;
      width:100%;
      background-size:cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
.landing-slide:nth-child(2){
      background:linear-gradient(to bottom, rgba(0, 0, 0, 0.219),rgba(0,0,0,0.5)),url("../images/landing2.jpg") no-repeat;
      height:inherit;
      width:100%;
      background-size:cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
.landing-slide:nth-child(3){
      background:linear-gradient(to bottom, rgba(0, 0, 0, 0.219),rgba(0,0,0,0.5)),url("../images/picture.jpg") no-repeat;
      height:inherit;
      width:100%;
      background-size:cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
.landing-slide:nth-child(4){
      background:linear-gradient(to bottom, rgba(0, 0, 0, 0.219),rgba(0,0,0,0.5)),url("../images/landing4.jpg") no-repeat;
      height:inherit;
      width:100%;
      background-size:cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
.landing-slide h1{
      font-size:50px;
      font-family: "Raleway";
      color:#fff;
      width:70%;
      text-align: center;
      margin:auto;
      animation:zoomIn 1s linear;
      -webkit-animation:zoomIn 1s linear;
}
.landing-slide p{
      font-family: "Poppins";
      text-align: center;
      width:60%;
      margin:0 auto 30px auto;
      color:#fff;
      font-size:15px;
      animation:slideInUp 1s linear;
      -webkit-animation:slideInUp 1s linear;
}

.btn-section{
      text-align: center;
}
.btn-section a{
      font-family: "Poppins";
      font-size:14px;
      border:2px solid white;
      color:#fff;
      padding:10px 30px;
      animation:zoomInUp 2s linear;
      -webkit-animation:zoomInUp 2s linear;
}
.btn-section a:hover{
     background:#648eac;
     transition:all 0.5s ease;
     -webkit-transition:all 0.5s ease;
     -moz-transition:all 0.5s ease;
     -ms-transition:all 0.5s ease;
     -o-transition:all 0.5s ease;
}

.fade{
      animation:fade 1.5s linear;
      -webkit-animation:fade 1.5s linear;
}
@keyframes fade{
      from{
            opacity: 0.6;
      }
      to{
            opacity: 1;
      }
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}

}

@keyframes zoomInUp {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}

}
@keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

}
@media(max-width:600px){
      .landing-slide h1{
            font-size:40px;
            width:100%;
      }
      .landing-slide p{
            font-size:14px;
            width:80%;
      }
}
#about{
      padding:100px 0;
}
.about-content{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap:20px;
}
.description-side h3{
      font-family: "Poppins";
      font-size:16px;
      text-transform: uppercase;
}
.description-side h3::after{
      content:'';
      width:100px;
      height:2px;
      display:block;
      background:rgb(190, 44, 0);
      margin:10px 0;
}
.description-side h2{
      font-family: "Raleway";
      font-size:35px;
      margin-bottom:10px;
}
.description-side p{
      font-family: "Poppins";
      font-size:15px;
      line-height: 25px;
      margin-bottom: 10px;
}
.about-content .image-column img{
      object-fit: contain;
}

@media(max-width:1000px){
      .about-content{
            grid-template-columns: repeat(1,1fr);
      }
}

#services{
      padding:100px 0;
     background:linear-gradient(#6894b4de,#6894b4e5), url("../images/servicesbg2.jpg") no-repeat;
     background-size:cover;
     background-position: center;
}
.services-intro{
      text-align: center;
}
.services-intro h3{
      font-family: "Poppins";
      font-size:16px;
      text-transform: uppercase;
      color:#fff;
}
.services-intro h3::after{
      content:'';
      width:100px;
      height:2px;
      display:block;
      background:rgb(190, 44, 0);
      margin:10px auto;
}
.services-intro h2{
      font-family: "Raleway";
      font-size:35px;
      margin-bottom:10px;
      color:#fff;
}
.services-intro p{
      font-family: "Poppins";
      width:70%;
      color:#fff;
      margin:auto;
}
.services-wrapper{
      margin-top:50px;
}
.service-row{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      background:white;
      margin-bottom: 30px;
      width:90%;
      margin:0px auto 30px auto;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      box-shadow: 0px 0px 3px 1px rgb(153, 153, 153);
}
.service-row .description-section{
      padding:60px 30px;
}
.description-section h2{
      font-family: "Raleway";
      font-size: 30px;
      margin-bottom: 10px;
}
.description-section p{
      font-family: "Poppins";
      font-size:15px;
      line-height: 26px;
}
.service-row .image-section img{
      object-fit: cover;
}

@media(max-width:900px){
      .service-row{
            grid-template-columns: repeat(1,1fr);
      }
      .image-section.re{
            order:2;
      }
      .description-section.re{
            order:1;
      }
}

#resources{
      padding:100px 0;
}
.resources-content{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap:40px;
}
.resources-description h3{
    font-family: "Poppins";
    font-size:15px;
    text-transform: uppercase;
}
.resources-description h3::after{
      content:'';
      width:100px;
      height:2px;
      display:block;
      background:rgb(190, 44, 0);
      margin:10px 0;
}
.resources-description h1{
      font-family: "Raleway";
      font-size:35px;
      margin-bottom: 10px;
}
.resources-description p{
      font-family: "Poppins";
      font-size: 15px;
      line-height: 25px;
}

.document-section{
      display:flex;
      justify-content: center;
      align-items: center;
}
.document-section .section-inner{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
}
.document-row{
      padding:10px 20px;
      border:2px solid rgb(190, 44, 0);
      text-align: center;
}
.document-row a{
      font-size:15px;
      font-family: "Poppins";
      color:#222;
}
.document-row:hover a{
      color:rgb(190, 44, 0);
}
@media(max-width:850px){
      .resources-content{
            grid-template-columns: repeat(1,1fr);
      }
}

#faqs{
      position: relative;
      padding:30px 0 80px 0;
}
.faqs-intro h2{
   font-size: 35px;
   font-family: "Raleway";
   text-align: center;
}
.faqs-intro h2::after{
      content:'';
      width:100px;
      height:2px;
      display:block;
      background:rgb(190, 44, 0);
      margin:10px auto 40px;
}
.faqs-row{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 30px;
      
}
.faqs-row .faqs-image img{
      object-fit: cover;
}
.faqs-specifics{
      width:700px;
      z-index: 90;
}
.faq-container{
      margin-bottom: 20px;
}
.faq-container .question{
      display:flex;
      justify-content: space-between;
      padding:20px 0 20px 10px;
      color:#222;
      box-shadow: 0 0 3px 1px rgb(247, 246, 246);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      cursor: pointer;
}
.question h3{
      font-weight: 500;
      font-family: "Poppins";
      font-size:15px;
}
.question span{
      margin-right:10px;
      cursor: pointer;
}
.answer-content{
      padding:10px;
      background:rgba(220, 238, 240, 0.404);

}
.answer{
      max-height: 0;
      overflow: hidden;
      transition:max-height 1s ease;
      -webkit-transition:max-height 1s ease;
      -moz-transition:max-height 1s ease;
      -ms-transition:max-height 1s ease;
      -o-transition:max-height 1s ease;
      font-family: "Poppins";
      font-size:15px;
}
.question.activator{
      background: #648eac;
      color:white;
      border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      -ms-border-radius: 5px 5px 0px 0px;
      -o-border-radius: 5px 5px 0px 0px;
}
.question.activator span{
      transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
      -o-transform:rotate(180deg);
      transition:all 0.5s;
      -webkit-transition:all 0.5s;
      -moz-transition:all 0.5s;
      -ms-transition:all 0.5s;
      -o-transition:all 0.5s;
}

@media(max-width:1000px){
      .faqs-row{
            grid-template-columns: repeat(1,1fr);
      }
      .faqs-image{
            height: 500px;
      }
      .faqs-specifics{
            width:100%;
      }
}
@media(max-width:600px){
      .question h3{
            font-size: 13px;
      }
      .answer-content p{
            font-size:13px;
      }
      .faqs-image{
            height:300px;
      }
}

#contact{
      padding:100px 0;
      background:linear-gradient(rgba(0,0,0,.88),rgba(0,0,0,0.88)), url("../images/contactbg.jpg") no-repeat;
      background-position: top;
      background-size: cover;
}
.contact-intro{
      text-align: center;
      color:#fff;
}
.contact-intro h3{
      font-family: "Poppins";
      text-transform: uppercase;
      font-size:15px;
}
.contact-intro h3::after{
      content:"";
      width:80px;
      height:2px;
      background: rgb(190, 44, 0);
      display:block;
      margin:10px auto;
}
.contact-intro h1{
      font-size: 35px;
      font-family: "Raleway";
}
.contact-intro p{
      font-family: "Poppins";
      font-size:15px;
      width:70%;
      margin:10px auto;
}

.contact-description{
      color:#fff;
}

.contact-split{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      margin-top: 30px;
}
.contact-description h2{
      font-size:16px;
      font-family: "Poppins";
      text-transform: uppercase;
      margin-bottom: 20px;
}
.contact-description h2::after{
      content:"";
      width:50px;
      height:2px;
      background:rgb(190, 44, 0);
      margin:10px 0;
      display:block;
}
.contact-description p{
      font-family: "Poppins";
      line-height: 30px;
      margin-bottom: 10px;
}
.contact-description p span{
      margin-right: 10px;
      color:rgb(190, 44, 0);
}
.contact-form h2{
      font-family: "Poppins";
      text-transform: uppercase;
      color:white;
      margin-bottom: 20px;
}

.input-box{
      margin-bottom: 20px;
}
.input-box label{
      font-family: "Poppins";
      color:gainsboro;
      display:block;
      font-size:15px;
      margin-bottom: 5px;
}
.input-box .input-control{
      width:100%;
      height:45px;
      border:1px solid gainsboro;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      font-family: "Poppins";
      font-size: 15px;
      padding-left: 5px;
      outline: none;
}
.input-control.sub{
      text-transform: uppercase;
}
.input-control.text-a{
      height:150px;
}
.btn-submit button{
      display: block;
      width:100%;
      height:45px;
      font-family: "Poppins";
      color:#fff;
      background:#648eac;
      border:1px solid #648eac;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      cursor: pointer;
}
footer{
      padding: 20px 0;
      background-color: #000;
}
.footer-content p{
      font-family: "Poppins";
      font-size: 12px;
      color:gray;
      text-align: center;
}

@media(max-width:850px){
      .contact-split{
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
      }
}